.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  color: #fff; /* เปลี่ยนสีตัวอักษรเป็นสีขาวเพื่อให้อ่านง่าย */
}
body {
  background-color: #000; /* เปลี่ยนพื้นหลังเป็นสีดำ */
}
