.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  color: #fff; /* เปลี่ยนสีตัวอักษรเป็นสีขาวเพื่อให้อ่านง่าย */
}
body {
  background-color: #000; /* เปลี่ยนพื้นหลังเป็นสีดำ */

}
h1 {
  color: #fff; /* เปลี่ยนสีตัวอักษรเป็นสีขาว */
}

p {
  color: #ccc; /* เปลี่ยนสีตัวอักษรเป็นสีเทาอ่อน */
  margin-bottom: 20px;
}

.input-container, .output-container {
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #fff; /* เปลี่ยนสีตัวอักษรเป็นสีขาว */
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  background-color: #333; /* เปลี่ยนพื้นหลังของ textarea เป็นสีเทาเข้ม */
  color: #fff; /* เปลี่ยนสีตัวอักษรเป็นสีขาว */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

.output-container {
  margin-top: 40px;
}

.output-container h2 {
  margin-bottom: 10px;
  color: #fff; /* เปลี่ยนสีตัวอักษรเป็นสีขาว */
}

/* Media Queries สำหรับการทำให้ Responsive */
@media (max-width: 768px) {
  .input-container, .output-container {
    max-width: 90%;
  }

  textarea {
    height: 80px;
  }

  button {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.9em;
  }

  textarea {
    height: 60px;
  }

  button {
    padding: 10px;
  }
}

.footer {
  margin-top: 60px;
  padding: 10px;
  color: #fff;
  text-align: center;

}
.logo {
  height: 2%;
  width: 2%; 
}